.vscode-test/**
out/test/**
src/**
screenshots/
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
.travis.yml
**/*.ts


.vscode/
.vscode-test/
@types/
node_modules/
out/
screenshots/
src/
.eslintrc.json
.gitignore
.travis.yml
coverconfig.json
*.vsix
tsconfig.json
webpack.config.js
